{% extends 'business-base.html' %}

{% block content %}


<div class="container">
    <h1 align="center"> Pay with Cash</h1>
    <div class="form-group">
        <!-- Hard coded CSS for testing -->
        <input style="height:100px; font-size:50px; text-align: center;" class="form-control input-lg" id="total" type="text" placeholder="[Total Ammount]">
        <p></p>
        <input style="height:50px; font-size:25px; text-align: center;" class="form-control input-lg" id="total" type="text" placeholder="[Message Box]">

    </div>
    <p></p>
    <div class="container">
        <div class="row" align="center">
            <div class="col-sm">
                <!-- Test styling will be turnend into CSS-->
                <button type="button" class="btn btn-primary btn-lg cashButton">£10</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg cashButton">£5</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg cashButton">£2</button>
            </div>
        </div>
        <p></p>
        <div class="row" align="center">
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg cashButton">£1</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg cashButton">50p</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg cashButton">20p</button>
            </div>
        </div>
        <p></p>
        <div class="row" align="center">
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg cashButton">10p</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg cashButton">5p</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg cashButton">2p</button>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-sm" align="center">
                <button type="button" class="btn btn-primary btn-lg cashButton">1p</button>
            </div>
        </div>
        <p></p>

        <!-- Test styling will be turnend into CSS-->
        <button type="button" style="height: 75px;" class="btn btn-success btn-lg btn-block">Confirm Payment</button>
    </div>
</div>

{% endblock %}