{% extends 'business-base.html' %}

{% block content %}


<div class="container">
    <h1 align="center"> Paying for {{ movie }} with Cash</h1>
    <div class="form-group">
        <!-- Hard coded CSS for testing -->
        <input class="form-control input-lg total-field" id="test" type="text" value={{ price }}>
        <p></p>
        <input class="form-control input-lg message-box" id="enteredCash" type="text" placeholder="[Message Box]">

    </div>
    <p></p>
    <div class="container change">
        <div class="row" align="center">
            <div class="col-sm">
                <!-- Test styling will be turned into CSS-->
                <button type="button" class="btn btn-primary btn-lg cashButton ten">£10</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg cashButton five">£5</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg cashButton two">£2</button>
            </div>
        </div>
        <p></p>
        <div class="row" align="center">
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg cashButton one">£1</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg cashButton fiftyP">50p</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg cashButton twentyP">20p</button>
            </div>
        </div>
        <p></p>
        <div class="row" align="center">
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg cashButton tenP">10p</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg cashButton fiveP">5p</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg cashButton twoP">2p</button>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-sm" align="center">
                <button type="button" class="btn btn-primary btn-lg cashButton oneP">1p</button>
            </div>
        </div>
        <p></p>

        <!-- Test styling will be turnend into CSS-->
        <button type="button" class="btn btn-success btn-lg btn-block big-btn">Confirm Payment</button>
    </div>
</div>

{% load static %}
<script src="{% static 'business/js/simulation-checkout.js' %}"></script>

{% endblock %}