{% extends 'business-base.html' %}

{% block title %}Find Reservation{% endblock %}

{% block content %}

    {%  if messages %}
        {% for message in messages %}
            <h3 class="message">{{ message }}</h3>
        {% endfor %}
    {% endif %}


  <h2>Pay for existing reservation</h2>
  <form method="post">
    {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-lg" align="left">
                        <input type="text" class="form-control" id="resID" name="resID" placeholder="Reservation ID" required="">
                    </div>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-lg" align="center">
                        <button id="card-submit" name="card-submit" type="submit" class="btn btn-primary btn-lg">Pay With Card</button>
                        <button id="cash-submit" name="cash-submit" type="submit" class="btn btn-primary btn-lg">Pay With Cash</button>
                    </div>
                </div>
            </div>
  </form>
{% endblock %}
