{% extends 'graphs-base.html' %}

{% block scripts %}
<script>
    //Function is loaded when the page loads
    var config = {
        type: 'line',
        data: {
            labels: {{ labels|safe }},
            datasets: [{    
                label: 'Filled',
				backgroundColor: "#404796",
				borderColor: "#404796",        
                data: {{ data|safe }},
                label: 'Weekly Income',
                fill: true,
                }]
    },
options: {
				responsive: true,
				title: {
					display: true,
					text: 'Chart.js Line Chart'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Month'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Value'
						}
					}]
				}
			}
	};

    $(document).ready(function () {
        let ctx = document.getElementById('myChart').getContext('2d');
        window.myChart = new Chart(ctx, config);
    });
</script>

{% endblock scripts %}
{% block content %}


<div class="container" style="height: 50vh">
    <div align="center">
        <h1>Weekly Income</h1>
        <canvas class="chart-style" id="myChart"></canvas>
    </div>
</div>


{% endblock content %}