{% extends 'business-base.html' %}

{% block content %}

<container>
    <div class="row w-50 mx-auto">
            <!-- Movie Details -->
            <div class="col">
                <h2>Movie Title</h2>
                <p></p>


                <!-- Display Poster-->


            </div>
            <!-- Time Selection-->
            <div class="col">
                <h2>Select Time</h2>
                <p></p>
                <!-- Container holds all the time slots-->
                <div class="container-times">
                    <div class="time-card time-content">
                        <div class="time-header">
                            <!-- Change Url to select time page-->
                            <a href="">
                                <h3>12:20</h3>
                            </a>
                        </div>
                    </div>
                    <div class="time-card time-content">
                        <div class="time-header">
                            <!-- Change Url to select time page-->
                            <a href="">
                                <h3>14:40</h3>
                            </a>
                        </div>
                    </div>
                    <div class="time-card time-content">
                        <div class="time-header">
                            <!-- Change Url to select time page-->
                            <a href="">
                                <h3>16:20</h3>
                            </a>
                        </div>
                    </div>
                    <div class="time-card time-content">
                        <div class="time-header">
                            <!-- Change Url to select time page-->
                            <a href="">
                                <h3>20:00</h3>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</container>
{% endblock %}