{% extends 'graphs-base.html' %}

{% block scripts %}
<script>
    //Function is loaded when the page loads
    var config = {
        type: 'line',
        data: {
            labels: {{ labels|safe }},
            datasets: [{    
                label: 'Filled',
				backgroundColor: "#404796",
				borderColor: "#404796",        
                data: {{ data|safe }},
                label: 'Weekly Income',
                fill: false,
                }]
    },
options: {
				responsive: true,
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Week'
						}
					}],
					yAxes: [{
						display: true,
                        ticks: {
                            suggestedMin: 0
                        },
						scaleLabel: {
							display: true,
							labelString: 'Total earning (£)'
						}
					}]
				}
			}
	};

    var config_barchart = {
        type : 'bar',
        data : {
            labels: {{ label2 | safe }},
            datasets : [{
                label: 'Movies',
                backgroundColor: "rgba(204, 0, 0, .4)",
                borderColor: "#c00",
                borderWidth: 2,
                hoverBackgroundColor: "#59597F",
                data: {{ data2 |safe }},
            }]
        },
    }
    let colorHex = ['#3639fb', '#060613', '#43AA8B', '#008744' , '#d62d20'
    , '#ffa700' , '#ffffff' , '#8008bd' , '#39285f' , '#1bc35a'];

    var config_piechart = {
        type: 'pie',

        //Data values of the graph but the varibles are taken from above
        data: {
            datasets: [{
                //Data used for the graph
                data: {{ data2 |safe }},
                backgroundColor: colorHex
            }],
            labels: {{ label2 | safe }}
        },
        options: {
            responsive: true,
            legend: {
                position: 'bottom'
            },
            plugins: {
                datalabels: {
                    color: '#fff',
                    anchor: 'end',
                    align: 'start',
                    offset: -10,
                    borderWidth: 2,
                    borderColor: '#fff',
                    borderRadius: 25,
                    backgroundColor: (context) => {
                        return context.dataset.backgroundColor;
                    },
                    font: {
                        weight: 'bold',
                        size: '10'
                    },
                    formatter: (value) => {
                        return "£" + value;
                    }
                }
            }
        }
    }



    $(document).ready(function () {
        let ctx = document.getElementById('myChart').getContext('2d');
        window.myChart = new Chart(ctx, config);

        let ctx2 = document.getElementById('movieChart').getContext('2d');
        window.movieChart = new Chart(ctx2 , config_piechart);
    });
</script>

{% endblock scripts %}
{% block content %}


<div class="container" style="height: 50vh">
    <div align="center">
        <div class="row">
            <div class="col-sm">
                <h2>Overall Income</h2>
                <h3>Total Income: £{{ extraData |safe }}</h3>
            </div>
            <div class="col-sm">
                <h2>Income Per Movie</h2>
                <canvas class="chart-style" id="movieChart"></canvas>
            </div>
        </div>
    </div>
    <div align="center">
        <h1>Weekly Income</h1>
        <canvas class="chart-style" id="myChart"></canvas>
    </div>
</div>


{% endblock content %}