asgiref
Django
django-extensions
django-filter
djangorestframework
future==0.18.2
html5lib==1.1
importlib-metadata
numpy
Pillow
PyPDF2==1.26.0
PyQRCode==1.2.1
python-dateutil==2.8.1
pytz==2021.1
qrcode==6.1
reportlab==3.5
segno==1.3.1
urllib3==1.26.3
xhtml2pdf==0.2.5
