h2{
    text-align: center
}

h4{
    text-align: center;
    align: "center"
}

.cashButton {
    width: 200px;
    height: 75px;
}

.total-field{
    height:100px;
    font-size:50px;
    text-align: center;
}

.message-box{
    height:50px;
    font-size:25px;
    text-align: center;
}

.big-btn{
    height: 75px;
}

.cardButton{
    width: 400px;
    height: 100px;
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #6ABCEA;
}

.container-movies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.movie-card {
    background: #ffffff;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 250px;
    margin: 2em;
    border-radius: 10px;
    display: inline-block;
}

.movie-header {
    padding: 0;
    margin: 0;
    height: 200px;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.movie-card:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.movie-content {
    padding: 18px 18px 24px 18px;
    margin: 0;
}

.movie-content-header, .movie-info {
    display: table;
    width: 100%;
}

.movie-title {
    font-size: 24px;
    margin: 0;
    display: table-cell;
}

.movie-info {
    margin-top: 1em;
}

.info-section {
    display: table-cell;
    text-transform: uppercase;
    text-align: center;
}

.info-section:first-of-type {
    text-align: left;
}

.info-section:last-of-type {
    text-align: right;
}

.info-section label {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: .5em;
    font-size: 9px;
}

.info-section span {
    font-weight: 700;
    font-size: 12px;
}


.chart-style {
    width: 600px;
    height: 600px;
    margin: 0 auto;
}


* {
    -webkit-transition: 300ms;
    transition: 300ms;
}

.details-image {
    max-width: 400px;
}


.container-times {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.time-card {
    background: #14213D;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100px;
    margin: 50px ;
    border-radius: 10px;
    display: inline-block;
}

.time-header {
    padding: 0;
    margin: 0;
    height: 50%;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

.time-card:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.time-content {
    padding: 18px 18px 24px 18px;
    margin: 10px;
}
