h2{
    text-align: center
}

h4{
    text-align: center;
    align: "center"
}

.cashButton {
    width: 200px;
    height: 75px;
}

.total-field{
    height:100px;
    font-size:50px;
    text-align: center;
}

.message-box{
    height:50px;
    font-size:25px;
    text-align: center;
}

.big-btn{
    height: 75px;
}

.cardButton{
    width: 400px;
    height: 100px;
}