/* Formatting used for Home Page and Movie Details section*/
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #6ABCEA;
}

.container-movies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.movie-card {
    background: #ffffff;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 250px;
    margin: 2em;
    border-radius: 10px;
    display: inline-block;
}

.movie-header {
    padding: 0;
    margin: 0;
    height: 200px;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.movie-card:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.movie-content {
    padding: 18px 18px 24px 18px;
    margin: 0;
}

.movie-content-header, .movie-info {
    display: table;
    width: 100%;
}

.movie-title {
    font-size: 24px;
    margin: 0;
    display: table-cell;
}

.movie-info {
    margin-top: 1em;
}

.info-section {
    display: table-cell;
    text-transform: uppercase;
    text-align: center;
}

.info-section:first-of-type {
    text-align: left;
}

.info-section:last-of-type {
    text-align: right;
}

.info-section label {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: .5em;
    font-size: 9px;
}

.info-section span {
    font-weight: 700;
    font-size: 12px;
}


.chart-style {
    width: 600px;
    height: 600px;
    margin: 0 auto;
}


* {
    -webkit-transition: 300ms;
    transition: 300ms;
}

.details-image {
    max-width: 400px;
}


/* Formatting used for Buy Tickets Page */

/* Seat Selection CSS */
.movie-container {
    margin: 20px 0;
}

.movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.seatLayout {
    perspective: 1000px;
    margin-bottom: 30px;

}

.seat {
    background-color: #444451;
    height: 24px;
    width: 30px;
    margin: 3px;
    min-width: 15px;
    min-height: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat.selected {
    background-color: #6feaf6;
}

.seat.reserved {
    background-color: #a00000;
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}

.seat:nth-last-of-type(2) {
    margin-left: 18px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.seatSelectionKey .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.seatSelectionKey {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.seatSelectionKey li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.seatSelectionKey li small {
    margin-left: 2px;
}

.row-seat {
    display: flex;
    margin-left: 35%;
    margin-right: auto;
    width: 40%;
}

.screen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: #2323db;
    height: 40px;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgb(14, 23, 59);
}

.message {
    text-align: center;
    font-size: 24px;
}


.payment[data-status="True"]:after {
 content : "Paid";
 color : green;
 font-weight: bold;

}

.payment[data-status="False"]:after {
 content : "Not Paid";
 color : red;
 font-weight: bold;
}


.details-image img {
    width: auto;
    height: auto;
    max-height: 400px;
}

label
{
    width: 100px;
}

.valid {
    color: green;
    line-height: 21px;
    padding-left: 22px;
}

.invalid {
    color: red;
    line-height: 21px;
    padding-left: 22px;
}
