{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'customer/css/style.css' %}">


{% block title %}
Checkout
{% endblock %}

{% block content %}



<div class="container">

    <!-- Number of Tickets Section:
        Input labels Id's: "qChild" quantity of Children Tickets
                            "qAdult" quantity of Adults Tickets
                            "qSenior" quantity of Senior Tickets
 -->
    <h3>Select Number of Tickets for {{movie}}</h3>
    <form action="/customer/booking/{{pk}}" method="post">{% csrf_token %}
        <div class="form-group row">
            <label for="qAdult" class="col-sm-2 col-form-label">Adult (18+)</label>
            <div class="col-sm-1">
                <input type="number" class="form-control" id="qAdult" name="qAdult" value="0">
            </div>
        </div>

        <div class="form-group row">
            <label for="qChild" class="col-sm-2 col-form-label">Child (18 <)</label>
            <div class="col-sm-1">
                <input type="number" class="form-control" id="qChild" name="qChild" value="0">
            </div>
        </div>
    
        <div class="form-group row">
            <label for="qSenior" class="col-sm-2 col-form-label">Senior (65+)</label>
            <div class="col-sm-1">
                <input type="number" class="form-control" id="qSenior" name="qSenior" value="0">
            </div>
        </div>

        <!-- Used to get the total number of tickets selected above this is sent to takeData() function-->
        <button type="button" class="btn btn-primary" onclick="takeData(); return false;">Confirm Number of Tickets</button>

  

        <h3>Select Seats</h3>
        <div class="container p-3 my-3 border">
            <!-- Key for the seat selection model-->
            <ul class="seatSelectionKey">
                <li>
                    <div class="seat"></div>
                    <small>Available</small>
                </li>
                <li>
                    <div class="seat selected"></div>
                    <small>Selected</small>
                </li>
                <li>
                    <div class="seat reserved"></div>
                    <small>Reserved</small>
                </li>
            </ul>

            <!-- 2 modes for a seat normal seat or seat reserved
                 When a seat is in reserve mode it cannot be selected-->
            <div class="seatLayout">
                <div class="screen"></div>
                {% for row in layout %}
                <div class ="row-seat">
                    {% for seat in row %}
                        <div class="{{ seat }}"></div>
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
        </div>

        <!-- We need a submit function which will add items to the database updateSelected () can be used for this-->
        <label for="SelectedSeatsID">Selected Seats</label>
        <input type="text" class="form-control" id="SelectedSeatsID" name="SelectedSeatsID" placeholder="" required="">
        
        <button type="button" class="btn btn-primary" onclick="confirmSeats()">Confirm Selected Seats</button>

        {% load static %}
        <script src="{%static 'customer/js/seatLayout.js' %}" type="text/javascript"></script>




        <!-- Checkout Section:
                Input labels Id's: "cName" for Name on the Card
                                    "cNumber" for Card Number
                                    "cExpiration" for Card Expiration Date
                                    "cCVV" For cards cvv Number
         -->
        <h3>Checkout</h3>


            <div class="row mb-6">
                <div class="col-md-6 mb-3">
                <a id="payByCard" class="btn btn-primary" data-toggle="collapse" href="#card" role="button" aria-expanded="false">Pay by card now</a>
                <button class="btn btn-primary" type="submit">Pay by cash when you arrive</button>
                </div>
            </div>

            <div class="collapse"  id="card">
            <div class="row mb-6">
                <div class="col-md-6 mb-3">
                    <label for="cName">Name on card</label>
                    <input type="text" class="form-control" id="cName" name="cName" placeholder="" value="{{ card_name }}">
                    <small class="text-muted">Full name as displayed on card</small>
                    <div class="invalid-feedback">
                        Name on card is required
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="cNumber">Card number</label>
                    <input type="text" class="form-control" id="cNumber" name="cNumber" placeholder="" value={{ card_number }}>
                    <small class="text-muted">16 digits from the front of your card</small>
                    <div class="invalid-feedback">
                        Credit card number is required
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="cExpiration">Expiration</label>
                    <input type="text" class="form-control" id="cExpiration" name="cExpiration" placeholder="" value={{ exp_date }}>
                    <small class="text-muted">MM/YY</small>
                    <div class="invalid-feedback">
                        Expiration date required
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="cCVV">CVV</label>
                    <input type="text" class="form-control" id="cCVV" name="cCVV">
                    <small class="text-muted">3 digits from the back of your card</small>
                    <div class="invalid-feedback">
                        Security code required
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <label for="saveCard">Save card details for future purchases?</label>
                <input type="checkbox" id="saveCard" name="saveCard">
            </div>

            <button id="submit" class="btn btn-primary" type="submit">Complete Check Out</button>
            </div>
    </form>
</div>

{% endblock %}
