{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'customer/css/style.css' %}">

{% block title %}
Checkout
{% endblock %}

{% block content %}

<div class="container">

    <h4>Select Number of Tickets </h4>
    <form>
        <div class="form-group row">
            <label for="qChild" class="col-sm-2 col-form-label">Child (18 <)</label>
            <div class="col-sm-1">
                <input type="number" class="form-control" id="qChild" value="0">
            </div>
        </div>

        <div class="form-group row">
            <label for="qAdult" class="col-sm-2 col-form-label">Adult (18+)</label>
            <div class="col-sm-1">
                <input type="number" class="form-control" id="qAdult" value="0">
            </div>
        </div>

        <div class="form-group row">
            <label for="qSenior" class="col-sm-2 col-form-label">Senior (65+)</label>
            <div class="col-sm-1">
                <input type="number" class="form-control" id="qSenior" value="0">
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Confirm Number of Tickets</button>

    </form>

    <h4>Select Seats</h4>







    <!-- Checkout Section:
            Input labels Id's: "cName" for Name on the Card
                                "cNumber" for Card Number
                                "cExpiration" for Card Expiration Date
                                "cCVV" For cards cvv Number
     -->
    <h4>Checkout</h4>

        <div class="row mb-6">
            <div class="col-md-6 mb-3">
                <label for="cName">Name on card</label>
                <input type="text" class="form-control" id="cName" placeholder="" required="">
                <small class="text-muted">Full name as displayed on card</small>
                <div class="invalid-feedback">
                    Name on card is required
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="cNumber">Card number</label>
                <input type="text" class="form-control" id="cNumber" placeholder="" required="">
                <div class="invalid-feedback">
                    Credit card number is required
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="cExpiration">Expiration</label>
                <input type="text" class="form-control" id="cExpiration" placeholder="MM/YY" required="">
                <div class="invalid-feedback">
                    Expiration date required
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="cCVV">CVV</label>
                <input type="text" class="form-control" id="cCVV" placeholder="000" required="">
                <div class="invalid-feedback">
                    Security code required
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Complete Check Out</button>

</div>

{% endblock %}
