{% extends 'base.html' %}


{% block content %}

<!--Movie Details-->
<div class="container">
    <div class="row">
        <!-- title -->
        <div class="col-12">
            <h1 class="details-title">{{ movie.tilte }}</h1>
        </div>

        <div class="row">
            <!-- Movie Detials section-->
            <div class="col-6">
                <div class="details-content">
                    <div class="details-tags">
                        <ul class="tag-list">
                            <li><span>Genere:</span> <a href="#">Action</a><a href="#">Triler</a></li>
                            <li><span>Director: {{ movie.director}}</span>
                        </ul>
                    </div>
                </div>
                <div class="details-image">
                    <img src="../../static/pictures/test.jpg" alt="">
                </div>
                <div class="details-description">
                    {{ movie.description }}
                </div>

            </div>
            <!-- select Movie Details Section-->
            <div class="col-6">
                <div class="form-group">
                    <label>Dates</label>
                    <select class="form-control">
                        <option>22/11/2021</option>
                        <option>23/11/2021</option>
                        <option>24/11/2021</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Times</label>
                    <select class="form-control">
                        <option>12:05</option>
                        <option>12:15</option>
                        <option>22:00</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Cinema Screen</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}