{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'customer/css/style.css' %}">

{% block title %}
Movie: {{ movie.title }}
{% endblock %}

{% block content %}

<!--Movie Details-->
<div class="container">
    <div class="row">
        <!-- title -->
        <div class="col-12">
            <h1 class="details-title">{{ movie.title }}</h1>
        </div>

        <div class="row">
            <!-- Movie Detials section-->
            <div class="col-6">
                <div class="details-content">
                    <div class="details-tags">
                        <ul class="tag-list">
                            <li><span>Director: {{ movie.director}}</span>
                            <li><span>Cast Members: {{ movie.cast_members}}</span>
                        </ul>
                    </div>
                </div>
                <div class="details-image">
                    <img src = "/{{movie.poster_img}}" class="img-fluid" alt="Responsive image">
                </div>
                <div class="details-description">
                    {{ movie.description }}
                </div>

            </div>
            <!-- select Movie Details Section-->
            <div class="col-6">
                <form action="/customer/tickets/" method="post">{% csrf_token %}
                    <label for="screening">Please Select a Screening</label>
                    <select class="form-control" id="screening" name="screening">
                        {% for screening in screenings %}
                        <option value="{{screening.pk}}">{{ screening.screening_start }}</option>
                        {% endfor %}
                    </select>   
                    <input class="btn btn-primary" type="submit" value="View screening">
                </form>
            </div>
        </div>  
    </div>
</div>

{% endblock %}
