{% extends 'base.html' %}

{% load static %}

{% block content %}

<container>
    <div class="row w-75 mx-auto">
        <div class="col-lg">
            <h2>Your bookings</h2>
            <table class="table table-hover">
                <tr>
                    <th>Movie</th>
                    <th>Date and time</th>
                    <th>Ticket Type</th>
                    <th> Payment Status</th>
                    <th>Room</th>
                    <th>Ticket Link</th>
                </tr>
                {% for booking in bookings %}
                <tr>
                    <td>{{ booking.screening_id.movie_id.title }}</td>
                    <td>{{ booking.screening_id.screening_start | date:'Y/m/d H:i'}}
                    </td>
                    <td>{{ booking.reservation_type }}</td>
                    <td data-status="{{ booking.paid }}" class="payment"></td>
                    <td>{{ booking.screening_id.room_id }}</td>
                    <td><a
                            href="{% get_static_prefix %}customer/tickets/ticket{{ booking.pk }}.pdf"
                            style="color:blue;" download>Download</a></td>
                    {% endfor %}
            </table>

        </div>

    </div>
</container>


{% endblock %}
